.chrome-logo {
    background-image: url(logos/chrome.png);
    background: -webkit-image-set( url(logos/chrome.png)    1x,
                                   url(logos/chrome@2x.png) 2x,
                                   url(logos/chrome@3x.png) 3x);
    width: 171px;
    height: 171px;
    margin: 0 auto;
}

.safari-logo {
    background-image: url('logos/safari.png');
    background: -webkit-image-set( url(logos/safari.png)    1x,
                                   url(logos/safari@2x.png) 2x,
                                   url(logos/safari@3x.png) 3x);
    width: 171px;
    height: 171px;
    margin: 0 auto;
}