.annotationsAnchors {
    fill: #555;
    stroke: white;
    stroke-width: 1px;
}

.annotationContainer {
    background: white;
    outline: solid /*rgb(33, 113, 181)*/ #555 1px;
    max-width: 300px;
    padding: 0.5rem;
    
    box-shadow: none;
    
    -webkit-transition: outline 0.30s ease-in-out;
    -moz-transition: outline 0.30s ease-in-out;
    transition: outline 0.30s ease-in-out;
    
    -webkit-transition: border 0.30s ease-in-out;
    -moz-transition: border 0.30s ease-in-out;
    transition: border 0.30s ease-in-out;
    
    -webkit-transition: box-shadow 0.30s ease-in-out;
    -moz-transition: box-shadow 0.30s ease-in-out;
    transition: box-shadow 0.30s ease-in-out;
}

.annotationTitle {
    font-weight: 400;
    font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 0.9rem;
    line-height: 1.0;
    color: black;
}

.annotationConnectors line {
    stroke: #555;
    stroke-width: 1px;
}

.annotationTitle a {
    color: rgb(33, 113, 181);
    text-decoration: none;
}

.annotationTitle a:hover {
    text-decoration: underline;
}

.annotationText {
    font-weight: normal;
    font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 0.7rem;
    line-height: 1.0;
    color: black;
}

.noTextAnnotation annotationText {
    display: none;
}

.noTextAnnotation.annotationContainer {
    background: none;
    outline: none;
    max-width: inherit;
    padding: inherit;
}

.annotationEditable.annotationContainer {
    font-size: 1.6rem;
    box-shadow:  0 0 4px 0 rgba(81, 203, 238, 1);
    outline: none;
    border: 1px solid rgba(81, 203, 238, 1);
    background: white;
}

.annotationTextContainer {
    z-index: 1;
}

.annotationContainer {
    z-index: 1;
}

.annotationEditable.annotationContainer {
    z-index: 100;
}

.annotationEditable div {
    -webkit-transition: outline 0.30s ease-in-out;
    -moz-transition: outline 0.30s ease-in-out;
    transition: outline 0.30s ease-in-out;
}

.annotationEditable div[contenteditable="true"] {
    padding: 0.25rem;
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
    outline: 1px solid rgba(34, 36, 38, .15);
    border-radius: 4px;
}

.annotationEditable div[contenteditable="true"]:focus {
    outline: 1px solid rgba(81, 203, 238, 1);
}