#godModeToggle {
    cursor: pointer;
}

#godModeOptions {
    max-height: 0px;
    overflow: hidden;
    
    -webkit-transition: 1s;
       -moz-transition: 1s;
            transition: 1s;
    
    padding: 0rem 3rem;
}

.godModeOptionsShow {
    max-height: 4000px !important;
}

.godModeBox {
    background: white;
    
    font-weight: 400;
    font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    padding: 1rem 2rem;
    -webkit-font-smoothing: antialiased;
    
    word-wrap: break-word;
    display: block;
}

.godModeBox > h5 {
    margin-bottom: 1rem;
}

select {
    -webkit-appearance:none;
}