html,
body {
    height: 100%;
    margin: 0;
}

svg {
    overflow: visible;
}

#articleText {
    resize: none;
    min-height: 200px;
}

.section {
    padding: 4rem 0 4rem;
}

.visualization {
    padding-top: 2em;
}

.visualization > .container {
    padding-top: 2em;
    border-top: 1px solid #E1E1E1;
}

.fill {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
}

.word-columns {
    overflow: scroll;
    text-align: left;
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
}

.aspect-ratio-4-3 {
    width: 100%;
    padding-bottom: 75%;
    position: relative;
    min-height: 150px;
}

.graph-container {
    width: 100%;
    padding-bottom: 40%;
    position: relative;
    min-height: 120px;
}

.map-container {
    width: 100%;
    padding-bottom: 60%;
    position: relative;
    min-height: 140px;
}

#loader {
    padding: 10px;
    display: none;
}

.errorMessage {
    background: rgb(255, 200, 200);
    border: thin solid rgb(255, 80, 80);
    color: rgb(255, 80, 80);
    border-radius: 4px;
    text-align: left;
    padding: 5px;
}

.bar {
    fill: white;
}

.bar:hover {
    fill: steelblue;
}

.title {
    font-weight: 400;
    font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1.2rem;
    line-height: 1.5;
}


/* Larger than phablet */

@media (min-width: 550px) {
    .title {
        font-size: 1.6rem;
    }
}
