.loadingBar {
  width: 100%;
  height: 20px;
  border: 1px solid #1EAEDB;
  border-radius: 3px;
  background-image: 
    -webkit-repeating-linear-gradient(135deg, #1EAEDB, #1EAEDB 11px, #eee 10px, #eee 20px /* determines size */);
  background-image: 
    -moz-repeating-linear-gradient(135deg, #1EAEDB, #1EAEDB 11px, #eee 10px, #eee 20px /* determines size */);
  background-image: 
    repeating-linear-gradient(
      -45deg,
      #1EAEDB,
      #1EAEDB 11px,
      #eee 10px,
      #eee 20px /* determines size */
    );
  background-size: 28px 28px;
  -webkit-animation: move .5s linear infinite;
     -moz-animation: move .5s linear infinite;
          animation: move .5s linear infinite;
}

@-webkit-keyframes move {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 28px 0;
  }
}

@-moz-keyframes move {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 28px 0;
  }
}

@keyframes move {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 28px 0;
  }
}
