.axis {
    font-size: 1.0em;
    /* currently ems cause chrome bug misinterpreting rems on body element */
    line-height: 1.6;
    font-weight: 400;
    font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.axis path {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.line {
    fill: none;
    stroke: steelblue;
    stroke-width: 1.5px;
}

.counties {
    fill: none;
    z-index: 10;
}

.counties > path {
    z-index: 10;
}

.states {
    fill: none;
    stroke: #ddd;
    stroke-linejoin: round;
    stroke-width: 1.0px;
    z-index: 10;
}

.states > path {
    z-index: 10;
}

.city {
    fill: rgb(8, 48, 107);
    stroke: #fff;
    stroke-width: 1.0px;
}

.statesOutlines {
    fill: none;
    stroke: #fff;
    stroke-linejoin: round;
    stroke-width: 2.0px;
    z-index: 0;
}

.statesOutlines > path {
    z-index: 0;
}

.q0-9 {
    fill: rgb(247, 251, 255);
}

.q1-9 {
    fill: rgb(222, 235, 247);
}

.q2-9 {
    fill: rgb(198, 219, 239);
}

.q3-9 {
    fill: rgb(158, 202, 225);
}

.q4-9 {
    fill: rgb(107, 174, 214);
}

.q5-9 {
    fill: rgb(66, 146, 198);
}

.q6-9 {
    fill: rgb(33, 113, 181);
}

.q7-9 {
    fill: rgb(8, 81, 156);
}

.q8-9 {
    fill: rgb(8, 48, 107);
}