.ui.dividing.header {
    font-family: 'Raleway', 'HelveticaNeue', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    background: white;
    font-size: 1.5rem;
    box-shadow: 0px 0px 8px #999;
}

#text-area {
    max-height: 50%;
    outline: none; 
    
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    transition: all 0.30s ease-in-out;
}

#text-area:focus {
    box-shadow: 0 2px 4px 0 rgba(81, 203, 238, 1);
    border: 1px solid rgba(81, 203, 238, 1);
}

.extracted {
    position: relative;
    border-radius: 5px;
    line-height: 1;
    color: inherit;
    margin: 0px 0px;
    padding: 0px 2px;
    background-color: rgba(100, 100, 100, 0.2);
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
    
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
         user-select: none;
    
}

.extracted:hover {
    background-color: rgba(40, 150, 218, 0.2);
    color: #00689E;
}

.location {
    background-color: rgba(40, 218, 150, 0.2);
}

.location:hover {
    background-color: rgba(40, 218, 150, 0.4) !important;
    color: #009E68;
}

.location-table {
    background-color: rgba(40, 218, 150, 0.2) !important;
}

.location-table:hover {
    background-color: rgba(40, 218, 150, 0.4) !important;
    color: #009E68 !important;
}

.ui.basic.location-button.button {
    box-shadow: 0 0 0 1px #009E68 inset !important;
    color: #009E68 !important
}

.ui.dropdown.region-location-dropdown a.ui.label {
    background-color: rgba(40, 218, 150, 0.2) !important;
}

.ui.dropdown.region-location-dropdown a.ui.label:hover {
    background-color: rgba(40, 218, 150, 0.4) !important;
    color: #009E68;
}

.date {
    background-color: rgba(218, 40, 160, 0.2);
}

.date:hover {
    background-color: rgba(218, 40, 160, 0.4) !important;
    color: #9E0068;
}

.ui.basic.date-button.button {
    box-shadow: 0 0 0 1px #9E0068 inset !important;
    color: #9E0068 !important
}

.number {
    background-color: rgba(218, 160, 40, 0.2);
}

.number:hover {
    background-color: rgba(218, 160, 40, 0.4) !important;
    color: #9E6800;
}

.noun {
    background-color: rgba(40, 150, 218, 0.2);
}

.noun:hover {
    background-color: rgba(40, 150, 218, 0.4) !important;
    color: #00689E;
}

.ui.basic.noun-button.button {
    box-shadow: 0 0 0 1px #00689E inset !important;
    color: #00689E !important
}

.ui.dropdown.noun-dropdown a.ui.label {
    background-color: rgba(40, 150, 218, 0.2) !important;
}

.ui.dropdown.noun-dropdown a.ui.label:hover {
    background-color: rgba(40, 150, 218, 0.4) !important;
    color: #00689E;
}

.scroll-table {
    overflow-y: scroll;
    overflow-x: hidden;
    display: block;
    margin-top: 0px !important;
}

.scroll-table-cell {
    display: block;
}

.scroll-table-cell:hover {
    background: #EEE;
}

.scroll-table-cell-selected {
    background: #CCC;
}

.scroll-table-cell-selected:hover {
    background: #CCC;
}

.scroll-table-cell-data {
    display: block;
    text-indent: 1rem;
}

.variable-table-cell {
    width: 100%; 
    display: block; 
    white-space: nowrap;
}

.variable-table-cell:hover {
    background: #F6F6F6;
}

.comparison-selected {
    background: #EEE;
}
.comparison-selected:hover {
    background: #E6E6E6;
}

.comparison-table-visualized {
    background: rgba(40, 150, 218, 0.2) !important;
}

.comparison-table-visualized:hover {
    background: rgba(40, 150, 218, 0.4) !important;
    color: #00689E;
}

.variable-table-cell-first {
    text-indent: 1rem;
    width: 60%; 
    display: inline-block;
}

.variable-table-cell-second {
    width: 40%; 
    display: inline-block; 
    position: relative; 
    left: -3px;
}

.aspect-ratio-4-3 {
    width: 100% !important;
    padding-bottom: 75% !important;
    position: relative !important;
    min-height: 150px !important;
}

.fill {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.graph-container {
    width: 100%;
    padding-bottom: 40%;
    position: relative;
    min-height: 120px;
}

.graph-entity-hover:hover {
    box-shadow: 0 0 5px rgb(81, 203, 238);
    stroke: rgb(81, 203, 238);
    z-index: 10;
}

.graph-entity-hidden {
    fill: rgba(1.0, 1.0, 1.0, 0.0) !important;
    stroke: none;
}

path {
    -webkit-transition: stroke 200ms linear;
    -moz-transition: stroke 200ms linear;
    transition: stroke 200ms linear;
    
    -webkit-transition: fill 200ms linear;
    -moz-transition: fill 200ms linear;
    transition: fill 200ms linear;
}

.noUi-connect {
    background: rgb(40, 150, 218);
}


.scroll-table-cell-data .ui.selection {
    text-indent: 0;
} 

.comparison-data {
    border-left: thin solid #DDD;
    display:none; 
    margin-left:2%; 
    width:68%;
}

.ui.selection.dropdown {
    -webkit-touch-callout: none;
    -webkit-user-select: none; 
    -moz-user-select: none;         
    user-select: none;   
}

.special.popup.annotation {
    -webkit-touch-callout: none;
    -webkit-user-select: none; 
    -moz-user-select: none;         
    user-select: none;   
}